services:
  db:
    build:
      context: .
      dockerfile: mysql.Dockerfile
    image: docker.io/zealswan/db_mysql:1.0.0
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - my-network

  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: docker.io/zealswan/snode:1.0.0
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - my-network

networks:
  my-network:
    external: true
